/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 true;
    icon-theme: "Mkos-Big-Sur-Night";
    element-icon { size: 2.5em; }
	drun-display-format:        "{name}";
    font: "Fira Sans 12";

}


@theme "~/.config/rofi/gruvbox.rasi"
